body {
    background-image: url(1536061.webp);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 20px;
}

label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 10px;
    font-size: 25px;
}

input {
    width: 100px;
    height: 30px;
    font-size: 20px;
}

button {
    height: 40px;
}

#box {
    display: block;
    margin-left: auto;
    margin-top: 200px;
    margin-right: auto;
    text-align: center;
    padding-top: 100px;
    width: 600px;
    height: 300px;
    border-radius: 10px;
    background-color: aliceblue;
}