body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(239, 239, 239);
}

h1 {
    color: rgb(0, 69, 207);
}

form {
    background-color: aliceblue;
    text-align: center;
    max-width: 350px;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.314);
}

#textBox {
    width: 50%;
    text-align: center;
    font-size: 2em;
    border: 2px solid rgba(0, 0, 0, 0.805);
    border-radius: 4px;
    margin-bottom: 15px;

}

label {
    font-size: 1.5em;
    font-weight: bold;
}

button {
    margin-top: 15px;
    background-color: rgb(255, 55, 55);
    color: white;
    font-size: 1.5em;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(255, 10, 10);
}

#result {
    font-size: 1.75em;
    font-weight: bold;
}