#box {
    background-color: rgb(153, 31, 31);
    color: aliceblue;
    text-align: center;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.525);
    margin-top: 300px;
    width: 600px;
    height: 150px;
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Times New Roman', Times, serif;

}

#imagem {
    width: 150px;
    height: 125px;
    border-radius: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 225px;
}